.columns {
    display: flex;
    justify-content: space-around;
}

.table {
    display:table; 
    border: 2px solid black;
    text-align: center;
}

.row { 
    display:table-row;
    font-size: 20px;
    font-weight: bold;
}

.cell {
    display:table-cell;
    width:340px;
}
h2{
    display: table-caption;
}